{% extends 'main/base.html' %}

{% block head_title %}
<title> Home Title </title>
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1> Welcome to the tweet me app </h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet/">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error">

            </div>
            <input type="hidden" value="/" name="next" />
            <textarea required="required" class="form-control" name="content" placeholder="Your Tweet..."></textarea>
            <button class="btn btn-primary" type="submit"> Tweet </button>

        </form>
    </div>
</div>

<div class ='row' id='tweets'>
    Loading <meta http-equiv="X-UA-Compatible" content="IE=7">
</div>

<script>

    const handleTweetFormError = function(msg, display) {

        var tweetErrorDiv = document.getElementById("tweet-create-form-error")

        if (display === true) {
            tweetErrorDiv.setAttribute("class", "d-block alert alert-danger")
            tweetErrorDiv.innerText = msg
        }  else {
            tweetErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }

    }

    const handleTweetCreateFormDidSubmit = function(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            
            // When a tweet is created, update the home page with the new tweet
            if (xhr.status === 201) {
                handleTweetFormError("", false)
                const newTweet = xhr.response
                const newTweetElement = formatTweeetElement(newTweet)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                console.log(errorJson)
                const contentError = errorJson.content
                console.log(contentError)

                let contentErrorMsg;

                if (contentError) {
                    contentErrorMsg = contentError[0]
                    handleTweetFormError(contentErrorMsg, true)
                } else {
                    alert("An error occured.")
                }

            } else if (xhr.status === 401) {

                //TODO: Handle Error using handleTweetFormError
                alert("Please login")
                window.location.href = "/login"

            } else if (xhr.status === 403) {

                //TODO: Handle Error using handleTweetFormError
                alert("Please login")
                window.location.href = "/login"

            } 
            else if (xhr.status === 500) {
                alert("There was a server error, please try again.")
            }
        }

        xhr.onerror =function() {
            alert("An error occured.")
        }

        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    var tweetsContainerElement = document.getElementById("tweets")


    const loadTweets = function(tweetsElement) {
        const method = 'GET'
        const url = "/tweets"
        const responseType = 'json'
        const xhr = new XMLHttpRequest()
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            const listedItems = serverResponse
            var finalTweetStr = ""
            var i;

            for (i=0; i<listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweeetElement(tweetObj)
                finalTweetStr += currentItem
            }

            tweetsElement.innerHTML = finalTweetStr

        }
        xhr.send()

    }

    loadTweets(tweetsContainerElement)




    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id)
        console.log(currentCount)
    }

    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like </button>"
    }

    function formatTweeetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "' > <p>" + tweet.content + 
            "</p><div class='btn-group'>" + likeBtn(tweet) +
        "</div></div>"
        return formattedTweet
    }
    
</script>
{% endblock content %}